[project]
	description = Tutorial
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/icotton
[access "refs/for/refs/*"]
	read = group user/icotton
	push = group user/icotton
	label-Code-Review = -2..+2 group user/icotton
	label-Verified = -1..+1 group user/icotton
	rebase = group user/icotton
	removeReviewer = group user/icotton
	submit = group user/icotton
[access "refs/heads/*"]
	read = group user/icotton
	create = group user/icotton
	push = +force group user/icotton
	pushMerge = group user/icotton
[access "refs/tags/*"]
	push = group user/icotton
	push = +force group user/icotton
